{{ define "main" }} {{ $css := resources.Get "css/about.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<div class="about-section">
  <div class="about-left">
    <div class="text-area">
      <div id="top-mini-slogan">Introducing AWS UG Berlin</div>
      <h1 id="slogan-first">Learn, Meet, Inspire</h1>
      <h2 id="slogan-second">
        Our community gladly welcomes everyone
      </h2>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-1.jpg" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div class="text-area">
      <div class="intro-text">
          Navigating the world of cloud computing can be overwhelming, which is why we are here for
          you. As the official AWS community in Berlin, we organize events for over ten years, providing a friendly and inspiring space for learning
          and growth. Our gatherings cover a wide range of topics, from AWS native solutions to DevOps, Data, Development,
          and more.
      </div>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/about-2.jpg" alt="" />
    </div>
    <div class="intro-text">
      We are proud to have a supportive community of nearly 5,500 members who share their knowledge and experiences with one another. 
      We are grateful for the support of our distinguished sponsors, who help make our events possible. 
      If you're interested in partnering with us for one of our future sessions, we'd be happy to 
      hear from you and work together to create a meaningful and inspiring event.
    </div>
  </div>
</div>

{{ partial "subscribe.html" .}}

{{ end }}