{{ define "main" }} {{ $css := resources.Get "css/about.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<div class="about-section">
  <div class="about-left">
    <div class="about-area">
      <h3 id="about-intro-text">Your Intro Text Here</h3>
      <h1 id="about-slogan-lineone">The First Line Of Your Slogan</h1>
      <h1 id="about-slogan-linetwo">
        Followed by Second Line Of Your Major Slogan 
      </h1>
    </div>
    <div class="about-image warm-img-filter">
      <img src="/images/feedback.png" alt="" />
    </div>
  </div>
  <div class="about-right">
    <div class="about-area">
      <div id="about-right-text">
        <p>
          Navigating the world of cloud computing can be overwhelming, which is why we are here for
          you. As the official AWS community in Berlin, we organize events for over ten years, providing a friendly and inspiring space for learning
          and growth. Our gatherings cover a wide range of topics, from AWS native solutions to DevOps, Data, Development,
          and more.
        </p>
        <p>
          We are proud to have a supportive community of nearly 5,500 members who share their knowledge and experiences with one another. 
          We are grateful for the support of our distinguished sponsors, who help make our events possible. 
          If you're interested in partnering with us for one of our future sessions, we'd be happy to 
          hear from you and work together to create a meaningful and inspiring event.
        </p>
      </div>
    </div>
    <div class="about-image warm-img-filter">
      <div class="about-image ">
      <img src="/images/about-2.jpg" alt="" />
    </div>
  </div>
</div>

{{ end }}