<!-- CSS Reference: /assets/css/partials/feedback.css -->
{{ $css := resources.Get "css/partials/feedback.css" }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />

<div class="feedback-section">
    <div class="feedback-left">
      <div class="feedback-item">
        <img src="/images/feedback.png" alt="" />
      </div>
    </div>
    <div class="feedback-right">
      <div class="feedback-slogan">
        <h3 class="feedback-title">Your Community. Your Opinion.</h3>
        <p class="feedback-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam,
          adipisci laborum expedita ducimus, sed dolorum, placeat amet
          mollitia architecto natus saepe enim. Aspernatur, earum! Asperiores
          in laudantium tenetur dolores ratione. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quam, adipisci laborum expedita
          ducimus, sed dolorum, placeat amet mollitia architecto natus saepe
          enim.
        </p>
        <a href="/feedback.html">
          <div class="feedback-button">
            <img src="/images/button-white.png" alt="Feedback button" />
            <span class="feedback-button-text">Contact</span>
          </div>
        </a>
      </div>
    </div>
  </div>