<div class="footer-line"></div>
<div class="footer-column">
  <h3><a href="/">HOME</a></h3>
  <a href="/">General</a>
  <a href="#">Sponsors</a>
  <a href="#">Contribute</a>
  <a href="#">Feedback</a>
  <a href="#">Subscribe</a>
</div>

<div class="footer-column">
  <h3><a href="/about/">ABOUT</a></h3>
  <a href="/about">AWS</a>
  <a href="#">User Groups</a>
  <a href="#">Community</a>
</div>

<div class="footer-column">
  <h3><a href="/team/">TEAM</a></h3>
  <a href="#">Leaders</a>
  <a href="#">Members</a>
  <a href="#">Volunteer</a>
</div>

<div class="footer-column">
  <h3><a href="/events/">EVENTS</a></h3>
  <a href="#">Upcoming Events</a>
  <a href="#">Past Events</a>
  <a href="#">Collaborate</a>
</div>

<div class="footer-column">
  <h3><a href="/blog/">BLOG</a></h3>
  <a href="#">Categories</a>
  <a href="#">Topics</a>
  <a href="#">Create</a>
</div>

<div class="footer-right">
  <img src="/images/logo.png" />
  <p>
    This website is run by an independent AWS User Group and is not affiliated
    with Amazon Web Services, Inc.
  </p>
  <p>
    Opinions expressed here are solely those of the authors and do not reflect
    official AWS positions.
  </p>
  <div class="footer-social-items">
    <div class="footer-social-item">
      <img src="/images/icons/meetup.png" alt="" />
    </div>
    <div class="footer-social-item">
      <img src="/images/icons/linkedin.png" alt="" />
    </div>
    <div class="footer-social-item">
      <img src="/images/icons/twitter.png" alt="" />
    </div>
    <div class="footer-social-item">
      <img src="/images/icons/email.png" alt="" />
    </div>
  </div>
</div>
<img src="/images/citygraph.png" class="footer-bg-image" />
