{{ define "main" }} {{ $css := resources.Get "css/team.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

<!-- List reference details for your team members below-->
<!-- prettier-ignore -->
{{ $sponsors := slice
    (dict "memberPhoto" "aaron.png" "memberName" "Aaron Walker" "memberTitle" "Technology Director" "memberLinkedIn" "aaronpwalker" "memberMail" "aaron@berlinawsug.de" "memberDetails" (slice "From Australia" "Member since 2014" "Everything as code guy" "Enjoys coding")  )
    (dict "memberPhoto" "daniel.png" "memberName" "Daniel Ciaglia" "memberTitle" "Freelance Consultant" "memberLinkedIn" "danielciaglia" "memberMail" "daniel@berlinawsug.de" "memberDetails" (slice "From Germany" "Member since 2018" "Kubernetes guru" "Enjoys biking")  )
    (dict "memberPhoto" "james.png" "memberName" "James Samuel" "memberTitle" "Engineering Manager" "memberLinkedIn" "abiodunjames" "memberMail" "james@berlinawsug.de" "memberDetails" (slice "From Nigeria" "Member since 2020" "A true born leader" "Enjoys leading")  )
    (dict "memberPhoto" "kadir.png" "memberName" "Kadir Keles" "memberTitle" "Cloud Evangelist" "memberLinkedIn" "kadirkeles" "memberMail" "kadir@berlinawsug.de" "memberDetails" (slice "From Turkey" "Member since 2022" "Computes all the way" "Enjoys running")  )
    (dict "memberPhoto" "timur.png" "memberName" "Timur Bublik" "memberTitle" "DevOps Lead" "memberLinkedIn" "timur-bublik" "memberMail" "timur@berlinawsug.de" "memberDetails" (slice "From Kazakhstan" "Member since 2021" "Hustling forever" "Enjoys music")  )
  }}

<h2 class="team-title">Meet AWS UG Leadership</h2>
<div class="team-members">{{ range $sponsors }} {{ partial "team-member.html" . }} {{ end }}</div>

{{ end }}
