/* FONT DEFINITIONS */
/* Amazon Ember Fonts */
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_Lt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_LtIt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_RgIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_Th.woff2') format('woff2');
    font-weight: 200; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmberCd_W_ThIt.woff2') format('woff2');
    font-weight: 200; /* Thin */
    font-style: italic;
}

/* Amazon Ember Display Fonts */
@font-face {
    font-family: 'Amazon Ember Display';
    src: url('../webfonts/AmazonEmberDisplay_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Display';
    src: url('../webfonts/AmazonEmberDisplay_W_He.woff2') format('woff2');
    font-weight: 800; /* Heavy */
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Display';
    src: url('../webfonts/AmazonEmberDisplay_W_Lt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Display';
    src: url('../webfonts/AmazonEmberDisplay_W_Md.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Display';
    src: url('../webfonts/AmazonEmberDisplay_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Amazon Ember Duospace Fonts */
@font-face {
    font-family: 'Amazon Ember Duospace';
    src: url('../webfonts/AmazonEmberDuospace_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amazon Ember Duospace';
    src: url('../webfonts/AmazonEmberDuospace_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Amazon Ember Mono Fonts */
@font-face {
    font-family: 'Amazon Ember Mono';
    src: url('../webfonts/AmazonEmberMono_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember Mono';
    src: url('../webfonts/AmazonEmberMono_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Amazon Ember Fonts */
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_He.woff2') format('woff2');
    font-weight: 800; /* Heavy */
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_HeIt.woff2') format('woff2');
    font-weight: 800; /* Heavy */
    font-style: italic;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_Lt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_LtIt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: italic;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_RgIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_SBd.woff2') format('woff2');
    font-weight: 600; /* Semi-Bold */
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_SBdIt.woff2') format('woff2');
    font-weight: 600; /* Semi-Bold */
    font-style: italic;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_Th.woff2') format('woff2');
    font-weight: 200; /* Thin */
    font-style: normal;
}
@font-face {
    font-family: 'Amazon Ember';
    src: url('../webfonts/AmazonEmber_W_ThIt.woff2') format('woff2');
    font-weight: 200; /* Thin */
    font-style: italic;
}
/* Bookerly Display Fonts */
@font-face {
    font-family: 'Bookerly Display';
    src: url('../webfonts/BookerlyDisplay_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bookerly Display';
    src: url('../webfonts/BookerlyDisplay_W_BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Bookerly Display';
    src: url('../webfonts/BookerlyDisplay_W_It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Bookerly Display';
    src: url('../webfonts/BookerlyDisplay_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Bookerly LCD Fonts */
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_Lt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_LtIt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: italic;
}
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bookerly LCD';
    src: url('../webfonts/BookerlyLCD_W_RgIt.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}