/* COLOR & FONT SIZE VARIABLES */
:root {
  --color-primary-black: #232f3e;
  --color-primary-yellow: #ff9900;
  --color-primary-white: #ffffff;
  --color-primary-gray: #d8d8d8;
  --color-primary-purple: #a66ff0;
  --color-secondary-black: #18212d;
  --color-secondary-darknavy: #27234c;
  --color-secondary-blackpurple: #4b3984;
  --color-secondary-darkpurple: #5b4398;
  --color-secondary-lightpurple: #a166ff;
  --color-secondary-purple: #a85dff;

  --font-size-h1: 64px;
  --font-size-h2: 40px;
  --font-size-h3: 36px;
  --font-size-h4: 30px;
  --font-size-body: 18px;
  --font-size-blog: 20px;
  --font-size-caption: 16px;
  --font-size-button: 18px;
  --font-size-navbar: 19px;
  --font-size-footer: 16px;
  --font-size-name: 22px;
  --font-size-title: 16px;
  --font-size-details: 16px;
  --font-size-sidebar: 18px;
  --font-size-quote: 20px;
  --font-size-code: 16px;
}

body {
  margin: 0px;
  background-color: var(--color-secondary-darknavy);
  color: var(--color-primary-white);
}

main {
  margin: 50px 0px;
}

a {
  text-decoration: none;
}

html,body {
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.round-icon {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: white solid 1px;
  border-radius: 100%;
}

.round-icon img {
  width: 20px;
  height: 20px;
}

.warm-img-filter {
  filter: sepia(30%) hue-rotate(330deg) brightness(110%);
}

@media (max-width: 769px) {
  :root {
    --font-size-h1: 32px;
    --font-size-h2: 20px;
    --font-size-h3: 18px;
    --font-size-h4: 15px;
    --font-size-body: 9px;
    --font-size-blog: 10px;
    --font-size-caption: 8px;
    --font-size-button: 9px;
    --font-size-navbar: 9px;
    --font-size-footer: 8px;
    --font-size-name: 11px;
    --font-size-title: 8px;
    --font-size-details: 8px;
    --font-size-sidebar: 9px;
    --font-size-quote: 10px;
    --font-size-code: 8px;
  }
}
