:root {
  --image-height: 500px;
}

.about-section {
  display: flex;
  padding: 1% 5%;
}

.about-left {
  padding-right: 5%;
  width: 65%;
  height: auto;
}

.about-slogans {
  min-height: 250px;
  padding-bottom: 25px;
}

.about-left > .about-slogans {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-intro-text {
  font-size: var(--font-size-quote);
  font-family: "Bookerly LCD";
  font-weight: 300;
  line-height: 80%;
  margin: 0;
  margin-bottom: 10px;
}

#about-slogan-lineone {
  font-size: var(--font-size-h1);
  font-family: "Amazon Ember";
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

#about-slogan-linetwo {
  font-size: var(--font-size-h2);
  font-family: "Amazon Ember";
  margin: 0;
  margin-bottom: 10px;
}

#about-slogan-linethree {
    line-height: 150%;
    text-align: justify;
  }

.about-left > .about-image img {
  width: auto;
  height: var(--image-height);
  margin-top: 0px;
  border: 2px solid var(--color-primary-gray);
  width: 100%;
  border-radius: 10px;
}

.about-right {
  width: 40%;
  height: auto;
  padding-left: 5%;
}

.about-right > .about-slogans {
  display: flex;
  align-items: end;
}

.about-right > .about-image {
  display: flex;
  align-items: center;
}

.about-right > .about-image img {
  width: auto;
  height: var(--image-height);
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 50% 50%;
  border: 2px solid var(--color-primary-gray);
  border-radius: 10px;
}

@media (max-width: 1919px) {
  .about-section {
    padding: 1% 1%;
  }
  .about-slogans {
    min-height: 300px;
  }
}
