{{ define "main" }}
<!-- LANDING -->
<!-- 
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }} -->
<div class="home">
  <!-- prettier-ignore -->
  {{ partial "landing.html" (dict "landingSlogan" "Where everything matters" "landingSubSlogan" "A community you can learn all about AWS" "landingText" "Since 2013, every month we are organizing at least one session to educate, network and get inspired. It’s our pleasure to have you with us on our next session and contribute to our community. Various topics include AWS native solutions, DevOps, Data, Development and more."  )}}
  {{ partial "sponsors.html" .}}
  {{ partial "action.html" .}}
  {{ partial "feedback.html" .}}
  {{ partial "subscribe.html" .}}
</div>
{{ end }}
