{{ define "main" }} {{ $css := resources.Get "css/blog.css" }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" />

{{ .Content }}
<ul id="blogsGrid">
	{{ range .Pages.ByPublishDate.Reverse }}
	<li class="blogObject">
		<a href="{{ .RelPermalink }}"
			><h2 class="blogTitle">{{ .LinkTitle }}</h2>
			{{ if and .Params.thumbnailURL (strings.HasPrefix .Params.thumbnailURL "https://") }}
			<img class="blogBanner" src="{{ .Params.thumbnailURL }}" alt="{{ .Title }} Banner" />
			{{ else }} {{ with .Resources.GetMatch "banner.png" }}
			<img class="blogBanner" src="{{ .RelPermalink }}" alt="{{ .Title }} Banner" />
			<!-- prettier-ignore -->
			{{ end }} 
	{{ end }}
		</a>
		<div class="blogAbstract">{{ .Params.abstract }}</div>
		<div class="blogInfoArea">
			<div class="blogInfo">
				<div class="blogInfoIcon">
					<img src="/images/icons/author.png" alt="" />
				</div>
				<div class="blogInfoText">{{ .Params.author }}</div>
			</div>
			<div class="blogInfo">
				<div class="blogInfoIcon">
					<img src="/images/icons/date.png" alt="" />
				</div>
				<div class="blogInfoText">{{ dateFormat "January 2, 2006" .Params.date }}</div>
			</div>
		</div>
	</li>
	{{end}}
</ul>
{{ end }}
